/* cuerpo */
nav {
    background-color: #26598f;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.svg-pequeno {
    width: 15%;
}

nav a {
    color: white !important;
}

.nav-item a:hover {
    color: #ffcc00;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.348);
    transform: scale(1.1);
}

body {
    background-color: #dad8f0;
    margin-top: 62px;
}


/* Header */
.container a {
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
}

.navbar-nav .nav-item {
    margin-right: 15px;
}

.navbar-nav .nav-item:last-child {
    margin-right: 0;
}