/* Seccion swiper */
.swiper {
    width: 100%;
    padding: 20px 0;
}

.pt-10 {
    padding-top: 20px !important;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-wrapper {
    display: flex;
    align-items: center;
}

/* Botones de navegacion */
.swiper-button-prev,
.swiper-button-next {
    background-color: #26598f;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 16px;
    color: #fff;
}

/* Texto dentro de cada slide */
.swiper-slide .p-3 {
    margin: 0;
    padding: 15px;
    border-radius: 10px;
}

#carouselExampleIndicators {
    max-height: 600px;
    overflow: hidden;
}

#carouselExampleIndicators .carousel-item img {
    max-height: 600px;
    width: auto;
    height: auto;
    margin: auto;
    display: block;
}

/* Ajustar la altura del slider */
.carousel-indicators button {
    position: relative;
}

.timer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: transparent;
    display: none;
    animation: none;
}

.carousel-indicators button.active .timer {
    display: block;
    background-color: #007bff;
    animation: countdown 5s linear infinite;
}

@keyframes countdown {
    0% {
        background-color: #007bff;
        width: 20px;
        height: 20px;
    }

    50% {
        background-color: #ff5733;
        width: 15px;
        height: 15px;
    }

    100% {
        background-color: transparent;
        width: 20px;
        height: 20px;
    }
}

/* Animacion para el h1 */
.animate-h1 {
    opacity: 0;
    transform: translateY(50px);
    animation: slideInFromBottom 1s ease-out forwards;
    animation-delay: 0.3s;
}

/* Animacion de deslizamiento del h1 */
@keyframes slideInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animacion para el parrafo - efecto de escritura */
.animate-p {
    opacity: 1;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid #000;
    display: inline-block;
    position: relative;
    text-align: center;
    width: 0;
    max-width: fit-content;
    animation: typing 3s steps(30) 1.3s forwards, blinkCaret 0.75s step-end 3s infinite;
    animation-delay: 1.3s;
}

/* Animacion de escritura */
@keyframes typing {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

/* Efecto de parpadeo del cursor */
@keyframes blinkCaret {
    0% {
        border-color: transparent;
    }

    50% {
        border-color: #000;
    }

    100% {
        border-color: transparent;
    }
}