.swiper-slide {
    cursor: pointer;
}

/* Contenedor para las imágenes del libro */
.contenedor-imagen-libro {
    width: 260px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #f8f8f8;
}

/* Imagen de los libros */
.imagen-libro {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* Título de los libros */
.titulo-libro {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

/* Precio de los libros */
.precio-libro {
    font-size: 1.2rem;
    color: #007bff;
    margin-bottom: 15px;
}

/* Boton de comprar */
.btn-comprar {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-comprar:hover {
    background-color: #218838;
}

/* Tarjeta del libro */
.tarjeta-libro:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Estilo general para las tarjetas */
.tarjeta-libro {
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 90%;
    height: auto;
    margin: 0 auto;
}

.novedades {
    opacity: 0.2;
    transition: opacity 5s ease;
}

/* Clase para cuando la seccion es visible */
.novedades.visible {
    opacity: 1;
}

/* Animacion para desvanecer y deslizar hacia arriba */
@keyframes aparecer {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}